<div class="header">
  <a class="logo" href="/">
    <img src="/photos/zap.svg" alt="Shop Logo" />
    Inventory
  </a>
  <nav class="nav-links">
    <ul>
      <li class="category-nav">
        <a href="/categories">Categories</a>
        <a class="add" href="/category/create">
          <img src="/photos/add.svg" alt="" />
        </a>
      </li>
      <li class="item-nav">
        <a href="/items">Items</a>
        <a class="add" href="/item/create">
          <img src="/photos/add.svg" alt="" />
        </a>
      </li>
    </ul>
  </nav>
</div>
