<!DOCTYPE html>
<html>
  <head>
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include("header.ejs") %>
    <div class="sec-body"><%- body %></div>
    <%- include("footer.ejs") %>
  </body>
</html>
